<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<display-name>SimpleJspServletDB</display-name>
<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
</welcome-file-list>

    <context-param>
        <param-name>dbproperties</param-name>
        <param-value>db.properties</param-value>
    </context-param>

    <servlet>
        <description></description>
        <display-name>UserController</display-name>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.java.servlets.controller.UserController</servlet-class>
    </servlet>

    <servlet>
        <description></description>
        <display-name>WorkTaskController</display-name>
        <servlet-name>WorkTaskController</servlet-name>
        <servlet-class>com.java.servlets.controller.WorkTaskController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WorkTaskController</servlet-name>
        <url-pattern>/WorkTaskController</url-pattern>
    </servlet-mapping>
    
    <listener>
    	<listener-class>com.java.servlets.listener.AppContextListener</listener-class>
  	</listener>
         
</web-app>